.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .select-container, .data-container, .chart-container, .no-data-container {
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 80%;
  }
  
  p {
    font-size: 18px;
  }
  