.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideIn 0.5s ease forwards;
  }
  
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .return-button {
    background-color: #cedaf4; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .return-button:hover {
    background-color: #1d7b85;
  }
  
  .return-button:active {
    background-color: #c5e5c7;
  }