.header-space {
    height: 50px;
}


.btn-primary {
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333; 
    text-transform: uppercase;
}
.title-container {
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 20px;
}


.table-card {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.pro-scroll {
    height: calc(100% - 40px); 
    overflow: auto; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-input {
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
