body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.success-alert {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.loading {
    animation: pulse 1s infinite alternate;
}
