h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    font-family: "Arial", sans-serif; 
  }
  
  canvas {
    display: block;
    margin: 0 auto;
  }
  
  .card:nth-child(odd) {
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      margin-top: 20px;
    }
  
    .card:nth-child(odd) {
      margin-top: 0;
    }
  }
  