.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
  }
  
  .card:hover {
    transform: translateY(-5px); 
  }
  
  .card-header {
    background-color: #83afba;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-lg {
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .btn-custom {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #fff;
  }
  
  .btn-custom:hover {
    background-color: #46b8da;
    border-color: #46b8da;
  }
  
  .loader {
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid #b85c85; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-text {
    color: #5c99b8; 
    font-size: 18px;
    margin-top: 10px;
  }
  