.main-panel {
    background-color: #cedaf4; 
    color: #261c58; 
    margin-bottom: 10px;
    text-align: center; 
}

.title-container {
    background-color: #fefefe;
    color: #261c58;
    text-align: center; 
    margin-bottom: 10px;
    padding: 20px; 
    border-radius: 50%; 
    overflow: hidden; 
}

h1 {
    font-weight: bold; 
    opacity: 0; 
    animation: fadeIn 1s ease forwards; 
}


@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}


.full-calendar {
    margin: 0 auto;
    font-family: "Arial", sans-serif; 
}

